_**Проверка работоспособности и качества пайплайна**_

In [1]:
import numpy as np
import pandas as pd
import dill
from sklearn.metrics import roc_auc_score,roc_curve,scorer

import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

np.random.seed(0)

import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

C:\Users\alxz\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:143: FutureWarning: The sklearn.metrics.scorer module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.metrics. Anything that cannot be imported from sklearn.metrics is now part of the private API.
  warnings.warn(message, FutureWarning)

In [2]:
dill._dill._reverse_typemap['ClassType'] = type

In [3]:
X_test = pd.read_csv("E:/GB/MLBiz/Term_paper/X_test.csv")
y_test = pd.read_csv("E:/GB/MLBiz/Term_paper/y_test.csv")

In [4]:
X_test.head()

,SE1,SE2,BA1,BA2,BA3,BA4,BA5,BA6,BA7,PE1,...,PE10,PE11,PE12,PE13,PE14,PE15,IA1,IA2,IA3,InvType
0,38,G42,4,0.0,13954,693165,320709,168973,16779,I0,...,I1,I1,I1,I1,I1,I0,0,0,1,C1
1,36,G20,10,0.0,7617,212777,12432,0,12225,I0,...,I0,I0,I0,I1,I0,I0,0,0,2,C1
2,55,G90,26,0.0,775876,1433174,1212806,285670,1108718,I1,...,I1,I1,I1,I0,I0,I0,0,0,0,C1
3,43,G52,20,0.0,58680,995206,1377260,1991958,547659,I1,...,I1,I1,I1,I1,I0,I0,0,0,1,C1
4,50,G44,0,0.0,7169,2569,2569,0,2569,I0,...,I0,I0,I0,I0,I0,I0,0,0,0,C1

In [5]:
with open('E:/GB/MLBiz/Term_paper/logreg_pipeline.dill', 'rb') as in_strm:
    clf = dill.load(in_strm)

In [7]:
pred = clf.predict_proba(X_test.iloc[:500])
pd.DataFrame({'preds': pred[:, 1]}).to_csv("E:/GB/MLBiz/Term_paper/test_predictions.csv", index=None)

In [8]:
roc_auc_score(y_score=pred[:, 1][:], y_true=y_test.iloc[:500])

0.702264905962385